@{
    Layout = null;
}
@model int;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h2>Hello world! @Model</h2>
</body>
</html>